<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">Entre para continuar</p>
         <form role="form" class="mb-lg" ng-submit="findUser(login)">
            <div class="form-group has-feedback">
               <input id="exampleInputEmail1"
                      type="text"
                      placeholder="Entre com Usuário"
                      autocomplete="off"
                      class="form-control"
                      ng-model="login.login"
                      required
               />
               <span class="fa fa-user form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1"
                      type="password"
                      placeholder="Entre com a Senha"
                      class="form-control"
                      ng-model="login.password"
                      required
               />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>


 <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="true" ng-model="login.lembrar" />
                     <span class="fa fa-check"></span>Me lembre</label>
               </div>
               <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Esqueceu a senha?</a>
               </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
         </form>

      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy; {{app.year}} - {{ app.name }}
         <br/>{{app.description}}</span>
   </div>

</div>