<h3>Perfil de Usuário
    <small>Manutenção na Conta.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Profile</h4></div>
    <div class="panel-body">
        <div class="col-xs-4 text-center">
            <img src="{{user.picture}}" alt="Image" class="img-thumbnail img-circle img-responsive thumb96"/>
        </div>
        <div class="col-xs-8">

            <h3 class="mt0">{{user.nome}}</h3>
            <p class="text-muted">{{user.name}}</p>
            <p class="text-muted">{{user.email}}</p>

        </div>

        <div class="col-xs-12">
            <form name="form" id="form">
                Single Image with validations
                <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">Select
                </div>
                <button type="submit" ng-click="submit()">submit</button>
            </form>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Alterações</h4></div>
            <div class="panel-body">

                <form class="form-horizontal" ng-submit="addUsuarioProfile(usuarioProfile)" name="formCriaUsuario">

                    <div class="panel-body">
                        <h4>Dados do Usuário</h4>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nome Completo</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="usuarioProfile.name" required/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Usuario de Login</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="usuarioProfile.login" disabled/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" data-parsley-type="email" class="form-control"
                                           ng-model="usuarioProfile.email" required/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Senha</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="desSenha" name="desSenha"
                                           ng-model="usuarioProfile.password" required/>
                                </div>
                                <div class="col-sm-4"
                                     ng-show="usuarioProfile.password == null || usuarioProfile.password.length < 6">
                                    <code>Senha no mínimo 6 caracteres</code>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Repita a Senha</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="desSenha2" name="desSenha2"
                                           ng-model="usuarioProfile.password2" required/>
                                </div>
                                <div class="col-sm-4"
                                     ng-show="usuarioProfile.password2 == null || usuarioProfile.password2 != usuarioProfile.password">
                                    <code>As senhas devem ser iguais.</code>
                                </div>
                            </div>
                        </fieldset>


                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-danger"
                                ng-disabled="usuarioProfile.password2.length < 6 || usuarioProfile.password.length <6 || usuarioProfile.password2 != usuarioProfile.password">
                            Alterar dados
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



