<h3>Perfil de Usuário
    <small>Manutenção na Conta.</small>
</h3>


<div class="row">
    <div class="col-lg-12">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">

                <form class="form-horizontal" ng-submit="addUsuarioProfile(usuarioProfile)" name="form" id="form">

                    <div class="panel-body">


                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-4 text-center">
                                    <img src="{{user.picture}}" alt="Image"
                                         class="img-thumbnail img-circle img-responsive thumb96"/>
                                </div>
                                <div class="col-xs-8">

                                    <h3 class="mt0">{{user.name}}</h3>
                                    <p class="text-muted">{{user.login}}</p>
                                    <p class="text-muted">{{user.email}}</p>

                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Imagem</label>
                                <div class="col-sm-6">
                                    <input type="file" class="form-control" ngf-select ng-model="usuarioProfile.img"
                                           name="file" ngf-pattern="'image/*'"
                                           ngf-accept="'image/*'" ngf-max-size="500MB" ngf-min-height="100"/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nome Completo</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="usuarioProfile.name" required/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Usuario de Login</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="usuarioProfile.login" disabled/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" data-parsley-type="email" class="form-control"
                                           ng-model="usuarioProfile.email" required/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Senha</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="desSenha" name="desSenha"
                                           ng-model="usuarioProfile.password" required/>
                                </div>
                                <div class="col-sm-4"
                                     ng-show="usuarioProfile.password == null || usuarioProfile.password.length < 6">
                                    <code>Senha no mínimo 6 caracteres</code>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Repita a Senha</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="desSenha2" name="desSenha2"
                                           ng-model="usuarioProfile.password2" required/>
                                </div>
                                <div class="col-sm-4"
                                     ng-show="usuarioProfile.password2 == null || usuarioProfile.password2 != usuarioProfile.password">
                                    <code>As senhas devem ser iguais.</code>
                                </div>
                            </div>
                        </fieldset>


                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-danger"
                                ng-disabled="usuarioProfile.password2.length < 6 || usuarioProfile.password.length <6 || usuarioProfile.password2 != usuarioProfile.password">
                            Alterar dados
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



